
$main-color:#4a4a49 ; //nagłówek, kolor tekstu w kolumnach
$background-color: #FFFFFA ; //kolor tła ekranów

$button-color:#FF6600 ; //przyciski, wyróżnienia, nagłówki ekranów
$navigation-color:#5B605F ; //panel i nawigacja

$infoMsg-color: #3498DB ;//kolor wiadomości typu info
$warningMsg-color: #FFB03B ;  //kolor wiadomości typu warning
$successMsg-color: #468966 ; //kolor wiadomości typu success

$icon-bin: #BD4932 ; //kolor ikony kosza
$text-color:#A1A194 ; //kolor tekstu z wierszy w tabelach, ikony rozszerzonych funkcji

$logo-color-txt1: white; //słowo Zaplanuj 
$logo-color-txt2: #E58A20 ; //słowo Jedzonko
