.aboutme {

    display: flex;

    justify-content: center;

    align-items: center;

    height: 400px;

    width: 100vw;

    color: black;

    background-color: lightgray;

    font-family: $main-font;



    h1 {

        color: black;

        font-size: 25px;

        margin-top: 20px;

    }



    p {

        margin-top: 20px;

        line-height: 30px;

    }

}



.authorpicture {

    img {

        width: 350px;

        height: 250px;

        margin-right: 50px;

    }

}



.authornote {

    width: 550px;

    padding: 45px;

    font-size: 18px;

    align-self: flex-start;

}