.schedules {
    margin: 70px;
 }
 .plan{
     &-new {
         display: flex;
         justify-content: space-between;
         align-items: center;
         background-color:$background-color;
         color: orange;
         font-family: $main-font;
         font-size: $font-size*2;
         border-bottom: 2px solid lightgray;
         margin-top: 10px;
         &-button{
             background-color: #FF6600;
             margin: 10px;
             font-size: $font-size ;
             font-weight: 700;
             color: #FFFFFA;
             height: 40px;
             outline: none;
             border: 2px solid white;
             border-radius: 10px;
             text-align: center;
         }
         p {
            width: 300px;
         }
     }
     &-name {
         display: flex;
         justify-content: space-between;
         background-color: white;
         color: #5B605F;
         font-size: $font-size*2;
         margin-top: 20px;
         p {
             width: 300px;
          }
     }
     &-description {
         display: flex;
         justify-content: space-between;
         background-color: white;
         color: #5B605F;
         font-size: $font-size*2;  
         margin-bottom: 10px;
         input {
             height: 55px;
         }
         p {
             width: 300px;
          }
     }
     &-week-number {
         display: flex;
         justify-content: flex-start;
         background-color: white;
         color: #5B605F;
         font-size: 20px;
         p {
            width: 250px;
            padding-top: 10px;  
         }
         input {
             height: 25px;
             width: 25px;
         }
     }
 }
 .plan-name-value,
 .plan-description-value,
 .plan-week-number-value {
     width: 1100px;
     height: 25px;
     margin-top: 10px;
     margin-right: 98px;
 }
 
 .meals{
     display: flex;
     justify-content: space-around;
     font-size: 20px;
     font-weight: 700;
     margin-left: 210px;
     li {
         color: $main-color;
         text-align: center;
         padding: 10px 0;
         width:100%;
     }
 }
 .meals_aboveline {
     border-bottom: 1px solid $text-color;
     margin-left: 235px;
     padding-top: 50px;
 }
 .meals_underline {
     border-bottom: 1px solid $text-color;
     margin-left: 25px;
     width:1100px;
 }
 .meals_underline-select {
     width: 100%;
     border-bottom: 1px solid $text-color;
     margin-left: 20px;
 }
 
 
 
 @for $i from 1 through 12 {
     .col-#{$i} {
         width: (100% / 12) * $i;
     }
 }
 %clearfix {
     &:after,
     &:before {
         display: table;
         clear: both;
         content: '';
     }
 }
 
 .third-section {
   
     .row {
         @extend %clearfix;
         
 
         [class*='col-'] {
             float: left;
             min-height: 1px;
             margin-top: 3px;
         }
     }
 }
 select {
   
     color: #5B605F;
     margin-top: 10px;
    width: 100%;
     height: 30px;
     background-color: white;
     border-radius: 10px;
 }
 .day {
  
     background: white;
     color: #5B605F;
     font-weight: 700;
     padding: 20px;
     margin-right: 45px;
 }